name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Django
      run: python -m pip install django
    - name: Build docker image
      run: make docker-build
    - name: Run tests
      run: make test-all
